/* Empty. Add your own CSS if you like */


@font-face {
    font-family: Inconsolata;
    src: url('fonts/Inconsolata/Inconsolata-regular.ttf');
}

div#meter {
    width: 100%;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 72px;
}

div#total {
    text-align: center;
    position: relative;
    top: 118px;
}

div#hourChartBox {
    text-align: center;
    position: relative;
    top: -166px;
}

div#hourChart {
    position: relative;
    top: -6px;
}
div#daily {
    text-align: center;
    position: relative;
    top: -172px;
}

div#watts {
    text-align: center;
    position: relative;
    top: -136px;
}

div#watts .value {
    font-size: 36px;
    font-weight: 400;
}

div#watts .unit {
    font-size: 18px;
    font-weight: 200;
    display: block;
    color: #666;
}

div#total .box {
    display: inline-block;
    margin: 0px 0 8px 0;
}

div#total span {
    display: inline;
    font-size: 24px;
    font-weight: 500;

    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.10) 100%); /* W3C */
    /* border: 1px solid #ccc;
    */
}
div#daily table {
    width: 100%;
}

div#daily table td {
}

div#daily span.kwh-day, div#total span.totalKwh {
    font-size: 28px;
    font-weight: 500;
}

div#daily span.unit, div#total span.unit {
    font-size: 16px;
    font-weight: 200;
    color: #666;
    display: block;

}
div#daily h3, div#total h3, div#hourChartBox h3 {
    font-size: 18px;
    font-weight: 200;
    color: #666;
    padding: 0;
    margin: 0 0 6px 0;
}

div#hourChartBox h3 {
    margin: 0;
}

span.totalDecimal {
    color: #aaa;
}
