/* Empty. Add your own CSS if you like */


@font-face {
    font-family: Inconsolata;
    src: url('fonts/Inconsolata/Inconsolata-regular.ttf');
}

div#total span {
    display: inline;
    font-family: Inconsolata, monospace;
    font-size: 54px;
    margin: 0;
    padding-top: 4px;
    padding-bottom: -2px;
    padding-left: 6px;
    padding-right: 6px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.10) 100%); /* W3C */
    border: 1px solid #ccc;
}

div#total h3 {
    font-size: 20px;
    color: #666;
    font-weight: 200;
    padding: 0;
    margin: 0px 0px 16px 0px;
}

div#total .box {
    display: inline-block;
    margin: 12px 0 8px 0;
    /* padding: 0 42px 0 42px; */
}

div#daily {
    text-align: center;
}

span.totalDecimal {
    color: #aaa;
}

div#hourChart {
    max-height: 80px;
}