<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>Power Meter Dashboard</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/c3/c3.css" rel="stylesheet">

    <script src="lib/d3/d3.min.js" charset="utf-8"></script>
    <script src="lib/c3/c3.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/googlelogin.js"></script>
    <script src="js/metercharts.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="power">
<ion-side-menus>
    <ion-side-menu-content>
        <ion-slide-box style="height: 100%;"
                       on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-controller="DailyCtrl">
                <ion-header-bar class="bar-calm">
                    <button on-tap="toggleLeft()"
                        class="button button-icon icon ion-navicon-round">
                    </button>
                    <h1 class="title">Current Usage</h1>
                </ion-header-bar>
                <ion-pane>
                    <div class="box" id="#current">
                        <div id="meter"></div>
                        <div id="watts" class="graph-box">
                            <span class="value">{{watts}}</span>
                            <span class="unit">Watt</span>
                        </div>
                        <div id="total" class="graph-box">
                            <h3>Meter total kWh</h3>
                            <div class="box">
                                <span class="totalKwh">{{meterTotal}}</span>
                            </div>
                        </div>
                        <div id="daily" class="graph-box">
                            <table>
                                <tr>
                                    <td>
                                        <h3>Yesterday</h3>
                                        <span class="kwh-day">{{kwhYesterday}}</span>
                                        <span class="unit">kWh</span>
                                    </td>
                                    <td>
                                        <h3>Today</h3>
                                        <span class="kwh-day">{{kwhToday}}</span>
                                        <span class="unit">kWh</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="box graph-box" id="hourChartBox">
                            <h3>Usage Last Hour</h3>
                            <div id="hourChart"></div>
                        </div>
                    </div>
                </ion-pane>
            </ion-slide>
            <ion-slide ng-controller="WeeklyCtrl">
                <ion-header-bar class="bar-energized">
                    <button on-tap="toggleLeft()"
                            class="button button-icon icon ion-navicon-round">
                    </button>
                    <h1 class="title">Weekly Graphs</h1>
                </ion-header-bar>
                <ion-pane>
                    <div class="box">
                        <div class="graph-box" id="hourly-usage">
                            <h3>kWh per hour for 3 days</h3>
                            <div id="three-days-chart"></div>
                        </div>
                        <div class="graph-box" id="daily-usage">
                            <h3>kWh per day for 2 months</h3>
                            <div id="month-chart"></div>
                        </div>
                        <div class="graph-box" id="weekly-usage">
                            <h3>kWh per week for a year</h3>
                            <div id="weekly-chart"></div>
                        </div>
                    </div>
                </ion-pane>
            </ion-slide>
            <ion-slide>
                <ion-header-bar class="bar-assertive">
                    <button on-tap="toggleLeft()"
                            class="button button-icon icon ion-navicon-round">
                    </button>
                    <h1 class="title">Monthly Graphs</h1>
                </ion-header-bar>
                <ion-content>
                    <div class="box" style="padding: 8px">
                        More graphs will come here.
                    </div>
                </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="OptionsCtrl">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Options</h1>
        </ion-header-bar>
        <ion-pane class="has-header" style="background-color: #666">
            <ion-list>
                <ion-item class="item-avatar-left item-dark">
                    <img src="" class="icon ion-person">
                    You're not signed in yet.
                </ion-item>
                <ion-item ng-click="handleLogin()"
                          class="item-icon-left item-dark">
                    <i class="icon ion-social-googleplus"></i>
                    Sign in with Google+
                </ion-item>
                 <ion-item ng-click="handleFacebookLogin()"
                          class="item-icon-left item-dark">
                    <i class="icon ion-social-facebook"></i>
                    {{fbSignInStatus}}
                </ion-item>
                <ion-item ng-click="handleSettings()"
                          class="item-icon-left item-dark">
                    <i class="icon ion-ios7-gear"></i>
                    Settings ...
                </ion-item>
            </ion-list>

        </ion-pane>
    </ion-side-menu>
</ion-side-menus>
</body>
</html>
